@using ViewModels.Administrator
@model AdministratorSearchViewModel

<div class="control_field">
        <input asp-for="Search.value" type="search" class="form-control" placeholder="Keyword" aria-controls="crud-list-table" autocomplete="new-password">
   
</div>