@using ViewModels
@model WorkOrderDetailViewModel
@{
    Layout = null;
}
<div class="row">
    @await Html.PartialAsync("~/Views/WorkOrder/_DetailPartialView.cshtml", Model, new ViewDataDictionary(ViewData) { })
</div>

<script>
    function loadEdit(url) {
        if ($(".modal.show").length > 0) {
            $(".modal-backdrop").remove();
        }
        $("#crudModalPanel").modal("hide");
        setTimeout(function () {
            loadUpdateAndDetailModalPanel(url);
        }, 1000);
    }
</script>