@using Enums
@model ViewModels.Timesheet.TimesheetModifyViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-6">
        <div class="mb-3">
            <div class="form-group">
                <partial name="~/Views/Shared/Select2/_Technician.cshtml" for="Technician" />
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mb-3">
            <div class="mb-3">
                <div class="form-group">
                    <partial name="~/Views/Shared/Select2/_SESApprover.cshtml" for="Approver" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="mb-3">
            <div class="mb-3">
                <label asp-for="WeekEnding" class="form-label fw-600">Week Ending</label>
                <input asp-for="WeekEnding" type="date" class="form-control" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="mb-3">
            <label asp-for="ActiveStatus" class="form-label">Status</label>
            <div class="row">
                @foreach (ActiveStatus status in Enum.GetValues(Model.ActiveStatus.GetType()))
                {
                    <div class="col-lg-6">
                        <div class="form-check form-check-inline">
                            <input asp-for="ActiveStatus" class="form-check-input" type="radio" name="ActiveStatus" id="@status" value="@status" />
                            <label asp-for="ActiveStatus" class="form-check-label" for="@status">@status</label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<input type="hidden" asp-for="Id" />
