@using System.Web
@using ViewModels
@model EventTypeModifyViewModel

<form id="NewEventTypeForm">
    <div class="list-item addItem" id="saveEventTypeDiv">
        <input type="hidden" value="@Model.Id" name="Id" id="eventtype_@Model.Id" />
        <div class="input-container type">
            <input type="text" placeholder="Enter type name" asp-for="Name">
            <textarea type="text" placeholder="Enter type description" asp-for="Description"></textarea>
            <div class="actions">
                <button class="btn check saveEventType"><i class="fa-solid fa-check"></i></button>
                <button class="btn cancel cancelEventType"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </div>
</form>