@model ViewModels.OrderModifyViewModel


<div class="col-lg-12 cart-container container-fluid">


    <form class="cart-create-form">
        @Html.AntiForgeryToken()

        @await Html.PartialAsync("_EquipmentFormFirstStep")
        @await Html.PartialAsync("_FormSecondStep")
        <input type="hidden" name="Type" value="Equipment" />
        <div class="formBtn d-flex justify-content-between pt-4 text-center">
            <button class="btn btn-secondary d-none" id="nwoBackBtn" type="button">Back</button>
            <button class="btn btn-primary ms-auto" id="nwoNextBtn" type="button">Next</button>
            <button type="button" class="btn btn-primary d-none form-btn submit-cart" id="nwoSaveBtn">Submit</button>

        </div>
    </form>
</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/js/custom/form-wizard.js"></script>
<script src="~/js/views/cart/cart.js"></script>