@using System.Web
@using ViewModels
@model List<RelationshipModifyViewModel>

@if (Model != null && Model.Count > 0)
{
    @foreach (var relationship in Model)
    {
        <div class="list-item">
            <span>@relationship.Name</span>
            <div class="actions">
                <i class="fa-regular fa-edit edit editSource" id="@relationship.Id"></i>
                <i class="far fa-trash-alt delete deleteSource" id="@relationship.Id"></i>
            </div>
        </div>
    }
}
else
{
    <div class="list-item">
        <span>No Source found.</span>
    </div>
}
