<div class="header-search-wrapper">
    <div class="d-flex justify-content-end align-items-center header-actions">
        <div class="search-container me-3">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="text" class="form-control search-input" placeholder="Search..." id="global_search_value">
        </div>
        <button class="btn btn-light bg-white">
            <i class="fa-solid fa-bell"></i>
        </button>
    </div>
</div>
