@using Enums
@using ViewModels;
@model EventTypeModifyViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">

            <!-- Name Field -->
            <div class="col-lg-12">
                <div class="mb-3 form-group">
                    <label asp-for="Name" class="form-label fw-600"></label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="validation-invalid-label"></span>
                </div>
            </div>

            <!-- Description Field -->
            <div class="mb-3 form-group">
                <label asp-for="Description" class="form-label fw-600"></label>
                <input asp-for="Description" type="text" class="form-control" />
                <span asp-validation-for="Description" class="validation-invalid-label"></span>
            </div>

        </div>
    </div>
</div>

<input type="hidden" asp-for="Id" />
