@page
@model ForceResetPasswordModel
@{
    Layout = "~/Areas/Identity/Pages/_LoginLayout.cshtml";
    ViewData["Title"] = "Reset password";
}

<div class="d-flex justify-content-center row">
    <div class="col-md-4">
        <div class="login-box">
            <div class="login-form">
                <div class="d-flex justify-content-center mt-2 mb-3">
                    <img class="img-fluid rounded-square" src="~/img/logo.png" alt="LAC" />
                </div>
                <h2>Reset Password</h2>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <input asp-for="Input.Email" type="hidden" />
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" aria-required="true" />
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

