@page
@model ResetPasswordModel
@{

    ViewData["Title"] = "Reset password";
    Layout = "~/Areas/Identity/Pages/_LoginLayout.cshtml";
}
<style>
    .form-info.valid {
        border: 1px solid green;
    }

        .form-info.valid p {
            color: green;
        }

    .login-input {
        width: 80% !important
    }
</style>

<div class="login-form">
    <h2 class="text-center">Forgot Password</h2>
    <form id="account" method="post" class="">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="input-group mb-4">
            <span class="input-group-text" id="login-username"><i class="fa-solid fa-user"></i></span>
            <input type="text" class="form-control login-input" asp-for="Input.Email" placeholder="Email" aria-label="Username" aria-describedby="login-email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="input-group mb-4">
            <span class="input-group-text" id="login-username"><i class="fa-solid fa-lock"></i></span>
            <input asp-for="Input.Password" id="Password" class="form-control login-input" placeholder="Password" autocomplete="new-password" aria-required="true" />
            <div class="form-info border-1 password-criteria">
                <h6>Password must contain the following:</h6>
                <p><i class="fa-solid fa-xmark"></i> Must be 9 characters long</p>
                <p><i class="fa-solid fa-xmark"></i> Must have one lowercase letter</p>
                <p><i class="fa-solid fa-xmark"></i> Must have one uppercase letter</p>
                <p><i class="fa-solid fa-xmark"></i> Must have one special symbol</p>
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="input-group mb-4">
            <span class="input-group-text" id="login-username"><i class="fa-solid fa-lock"></i></span>
            <input asp-for="Input.ConfirmPassword" class="form-control login-input" placeholder="Confirm Password" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-between align-items-center mb-2">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/custom/password-validation.js"></script>
}
