@using ViewModels.CRUD.Interfaces;
@model ILastUpdatedBy

<div class="fs-10">
    <span><b>Last updated by:</b> @Model.LastUpdatedBy </span></br>
    <span><b>Last updated On:</b> @Model.LastUpdatedOn </span>
</div>



