<fieldset class="step-card">
    <div class="form-group">
        <label>Scan PO #</label>
        @Html.TextBox("LotNo", "", new { @class = "form-control" })
        <span class="field-validation-valid text-danger" id="spnLotNo"></span>
    </div>
    <div class="step-btns d-flex justify-content-between pt-3">
        <button type="button" class="previous-step main-btn btn-secondary btn mr-2">Back</button>
        <button type="button" id="btnNextLotNo" class="next-step btn-site-primary btn ml-2">Next</button>
    </div>
    <script src="~/js/views/execute/lot-no.js"></script>
</fieldset>