
<footer class="site-footer py-2">
    <div class="container-fluid">
        <div class="d-md-flex justify-content-between align-items-center">
            <div class="footer-logo text-center py-1" href=""><img src="~/img/logo.png" alt="" /></div>
            <p class="my-3">Copyright © @DateTime.Now.Year EZTRAK Software, LLC. All Rights Reserved.</p>
        </div>
    </div>
</footer>