@using Enums
@using ViewModels;
@model InventoryModifyViewModel 
@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3 form-group">
                    <label asp-for="ItemNo" class="form-label fw-600"></label>
                    <input asp-for="ItemNo" type="text" class="form-control" />
                    <span asp-validation-for="ItemNo" class="validation-invalid-label"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3 form-group">
                    <partial name="~/Views/Shared/Select2/_Category.cshtml" for="Category" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3 form-group">
                    <partial name="~/Views/Shared/Select2/_Manufacturer.cshtml" for="Manufacturer" />
                </div>
            </div>
           @*  <div class="col-lg-6">
                <div class="mb-3 form-group">
                    <partial name="~/Views/Shared/Select2/_MUTCD.cshtml" for="MUTCD" />
                </div>
            </div> *@
            <div class="col-lg-6">
                <div class="mb-3 form-group">
                    <label asp-for="Description" class="form-label fw-600"></label>
                    <input asp-for="Description" type="text" class="form-control" />
                    <span asp-validation-for="Description" class="validation-invalid-label"></span>
                </div>
            </div>
        
            <div class="col-lg-6">
                <div class="mb-3 form-group">
                    <partial name="~/Views/Shared/Select2/_UOM.cshtml" for="UOM" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3 form-group">
                    <label asp-for="MinimumQuantity" class="form-label fw-600"></label>
                    <input asp-for="MinimumQuantity" type="text" class="form-control" />
                    <span asp-validation-for="MinimumQuantity" class="validation-invalid-label"></span>
                </div>
            </div>
           @*  <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-12 form-label fw-600">Upload Image</label>
                    <div class="col-sm-12">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <input asp-for="File" class="form-control" placeholder="Upload Image" id="Image" onchange="ShowImage(this)" />
                            <span> <a href="javascript:void(0)" class="input-group-addon btn btn-default fileinput-exists" onclick='RemoveImage()' data-dismiss="fileinput">Remove</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-2">
                    <img class="img-responsive image-thumbnail" src="@Model.ImageUrl" id="image-thumbnail" alt="" style="max-width:120px;">
                    <input type="hidden" asp-for="ImageUrl" value="@Model.ImageUrl" id="hidden-image-url" />
                </div>
            </div> *@
        </div>
    </div>
</div>

<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="SystemGeneratedId" />